/{
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        pointing_device_split: pointing_device_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    x_scaler_null: x_scaler_null {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_PROCESSOR_TYPE_RELATIVE>;
        codes = <INPUT_REL_X>;
    };
    y_scaler_null: y_scaler_null {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_PROCESSOR_TYPE_RELATIVE>;
        codes = <INPUT_REL_Y>;
    };

    pointing_device_split_listener: pointing_device_split_listener {
        compatible = "zmk,input-listener";
        device = <&pointing_device_split>;
        status = "okay";
        input-processors = 
            <&x_scaler_null 0 1>, 
            <&zip_xy_to_scroll_mapper>, 
            <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT)>, 
            <&zip_scroll_scaler 1 4>;
        scroller {
            layers = <3>;
            input-processors = 
                <&y_scaler_null 0 1>, 
                <&zip_xy_to_scroll_mapper>, 
                <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT)>, 
                <&zip_scroll_scaler 1 2>;
        };
     };
};
