/{
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        pointing_device_split: pointing_device_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
        };
    };

    /* 
     * 軸を無効化するためのスケーラー定義
     * type = <0x02> は INPUT_EV_REL (マウス移動/スクロール) を指します
     */
    /* X軸(0x00)と横スクロール(0x06)を無効化 */
    x_nuller: x_nuller {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <0x02>;
        codes = <0x00 0x06>;
    };
    /* Y軸(0x01)と縦スクロール(0x08)を無効化 */
    y_nuller: y_nuller {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <0x02>;
        codes = <0x01 0x08>;
    };

    pointing_device_split_listener: pointing_device_split_listener {
        compatible = "zmk,input-listener";
        device = <&pointing_device_split>;
        status = "okay";
        input-processors = 
            <&x_nuller 0 1>,
            <&zip_xy_to_scroll_mapper>, 
            <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT)>, 
            <&zip_scroll_scaler 1 4>;
        scroller {
            layers = <3>;
            input-processors = 
                <&y_nuller 0 1>,
                <&zip_xy_to_scroll_mapper>, 
                <&zip_scroll_transform (INPUT_TRANSFORM_X_INVERT)>, 
                <&zip_scroll_scaler 1 2>;
        };
     };
};
